# This is the playbook to install Docker and Docker-Compose on multiple servers using Ansible. And also execute the Bash script to deploy Wiki.js, Qdrant and Fast-API using Docker-Compose.
# This Playbook will call out the roles defined in the 'roles' directory, which in our case is Docker-Setup.

---
- name: Install Docker and Docker-Compose on Multiple Servers & Check if the Docker is installed or not
  hosts: servers
  become: yes
  vars: 
    app_dir: /opt/wiki-js-app
    repo_dir: /opt/wiki-js-knowledge-base
    repo_url: "github.com/IntelliconnectAI-Engineering/wiki-js-testing-repo.git" # must use ssh@git
    branch: "main"

  tasks:
    - name: Check if Docker is Installed or Not # will check if docker exist we can also check the binary for docker to know that docker exist or not.
      command: docker --version
      register: check_docker_installation
      ignore_errors: yes
      changed_when: false

    - name: Install Docker using role if not installed  # this role will execute when there will be no Docker Installed
      include_role:
        name: docker-setup
      when: check_docker_installation.rc != 0

    - name: Create Application Directory 
      file:
        path: "{{ app_dir }}"
        state: directory
        owner: root
        group: root
        mode: '0755'
        
    - name: Copy docker-compose.yaml to remote server
      copy:
        src: docker-compose.yaml
        dest: "{{ app_dir }}/docker-compose.yaml"

    - name: Create .env file for the secrets passed from semaphore
      template:
        src: .env.j2
        dest: "{{ app_dir }}/.env"
        owner: root
        group: root
        mode: '0600'

    - name: Create production.yaml file for the secrets passed from semaphore
      template:
        src: production.yaml.j2
        dest: "{{ app_dir }}/production.yaml"
        owner: root
        group: root
        mode: '0600'

    - name: Copy doc embedding API
      copy:
        src: doc-embedding-api/
        dest: "{{ app_dir }}/doc-embedding-api/"

    # before doing docker compose up [we have to setup the repository and have github action pipeline copied there]
    # For that copy the "update-embedding.yaml" to the repository present.

    - name: Create Directory to clone Repository
      file:
        path: "{{ repo_dir }}"
        state: directory
        owner: root
        group: root
        mode: '0755'

    - name: Clone GitHub Repository using Ansible-Git-Module
      git: 
        repo: "https://{{ lookup('env','GITHUB_TOKEN') }}@{{ repo_url  }}"
        dest: "{{ repo_dir }}"
        version: "main"

    - name: Ensure GitHub workflows directory exists
      file:
        path: "{{ repo_dir }}/.github/workflows"
        state: directory
        mode: '0775'

    - name: Configure git identity
      shell: |
        git config user.email "automation@intelliconnectq.com"
        git config user.name "Ansible Automation"
      args:
        chdir: "{{ repo_dir }}"

    - name: Copy update-embedding.yaml to repository
      copy: 
        src: update-embedding.yaml
        dest: "{{ repo_dir }}/.github/workflows/update-embedding.yaml"

    - name: Commit ahe push changes to github again
      shell: |
        git status --porcelain
        git add .
        git commit -m "Update files via Ansible" || echo "No changes to commit"
        git push origin main
      args:
        chdir: "{{ repo_dir }}"


#     -----BEGIN OPENSSH PRIVATE KEY-----
# b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAMwAAAAtzc2gtZW
# QyNTUxOQAAACB7hFsEt7ELyy7SQ4WloG9hxc+PLfT8lSp8tg7qND0D0gAAAJiUcmBIlHJg
# SAAAAAtzc2gtZWQyNTUxOQAAACB7hFsEt7ELyy7SQ4WloG9hxc+PLfT8lSp8tg7qND0D0g
# AAAEBXUdo9VYvEhJs5yy8TQ29WLjU8LiiLAGAdtrfirwXIr3uEWwS3sQvLLtJDhaWgb2HF
# z48t9PyVKny2Duo0PQPSAAAAD3Rlc3RpbmdfYW5zaWJsZQECAwQFBg==
# -----END OPENSSH PRIVATE KEY-----